/*==============  NOTICE MODAL ================*/
.contactModal-body {
    position: center;
    padding: 20% 0% 0% 10%;
    width: 100%;
    height: 100%;

}

.contactModal-content {
    position: relative;
    background:url("../sprite/contact.png");
    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: center;
    margin: 1% auto;
    padding: 0;
    width: 40%;
    height: 80%;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.4s;
    animation-name: animatebottom;
    animation-duration: 0.4s
}



