/*---------------------------------------------------------------*/
/*                              FONT                             */ 
/*---------------------------------------------------------------*/

@font-face {
  font-family: prstart;
  src: local("Helvetica Neue Bold"),
       local("HelveticaNeue-Bold"),
       url(./font/prstartk.ttf);
  font-weight: bold;
}

@font-face {
  font-family: flipps;
  src: local("Helvetica Neue Bold"),
       local("HelveticaNeue-Bold"),
       url(./font/flipps.otf);
  font-weight: bold;
}


body {
    background:url("./sprite/bodybg.png");
    background-size: cover;
}
#load {
            font-family:prstart;
            visibility: hidden;
            height: 0px;
}

p{ 
   font-family: 'prstart'; 
   font-weight: normal; 
   font-style: normal;
   margin: 5% 0% 0% 10%;
   font-size: 100%;
   width: 70%;
   line-height: 250%;
}
.big {
  width: 70%;
  line-height: 150%;
}

.small {
  width: 100%;
  font-size: 80%;
  line-height: 100%;
  margin: 10% 0% 0% 35%;
}
h1{ 
   font-family: 'flipps'; 
   font-weight: normal; 
   font-style: normal;
   margin: 3% 0% 0% 32%;
}



/*---------------------------------------------------------------*/
/*                             CANVAS                            */ 
/*---------------------------------------------------------------*/
.myFont {
  font-family: 'flipps'; 
  font-weight: normal; 
  font-style: normal;
}
canvas {
    display: block;
    margin: auto;
    background:url("./sprite/tile.png");
    background-size: cover;

}

/*---------------------------------------------------------------*/
/*                             MODAL                             */ 
/*---------------------------------------------------------------*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*==============  NOTICE MODAL ================*/
.noticeModal-body {
    position: center;
    padding: 20% 0% 0% 10%;
  

}

.noticeModal-content {
    position: relative;
    background:url("./sprite/fscroll3.png");
    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: center;
    margin: 1% auto;
    padding: 0;
    width: 40%;
    height: 80%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/*==============  EDUCATION MODAL ================*/
.eduModal-body {
    position: center;
    padding: 35% 0% 0% 10%;
  

}

.eduModal-content {
    position: relative;
    background:url("./sprite/fscroll4.png");
    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: center;
    margin: 1% auto;
    padding: 0;
    width: 40%;
    height: 80%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}



/*==============  SKILL MODAL ================*/
.skillModal-body {
    padding: 15% 0% 0% 25%;
  

}

.skillModal-content {
    position: relative;
    background:url("./sprite/verscroll.png");
    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: center;
    margin: 1% auto;
    padding: 0;
    width: 40%;
    height: 80%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}



/*==============  PROJECT MODAL ================*/

.projectModal-body {
    position: center;
    padding: 25% 0% 0% 25%;
}

.projectModal-content {
    position: relative;
    background:url("./sprite/otherscroll.png");
    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: center;
    margin: 1% auto;
    padding: 0;
    width: 40%;
    height: 80%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}






/*=========== MODAL Animation ====================*/
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
